@model Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegForm</title>
</head>
<body>
    <h1>Register Form</h1>


    @using (@Html.BeginForm("RegForm", "Home"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Salary)
            @Html.TextBoxFor(m => m.Salary, new {@class = "form-control"})
        </div>


            @*<div class="form-group">
                @Html.LabelFor(m => m.Gender)
                @Html.RadioButtonFor(m => m.Gender, "Male") Male
                @Html.RadioButtonFor(m => m.Gender, "Female") Female
            </div>*@

        <button type="submit" class="btn btn-primary">Save</button>

    }

    </body>
</html>
