@model Employee
    
<br/>
<ul>
    <li>Id : @Model.Id</li>
    <li>Name : @Model.Name</li>
    <li>Email : @Model.Email</li>
    <li>Address : @Model.Address</li>
    <li>Salary : @Model.Salary</li>
    <li>Gender : @Model.Gender</li>
</ul>